In [1]:
'''
Static typed (C/C++)

int a; //Data type is declared before using it

a = 5;

'''

'\nStatic typed (C/C++)\n\nint a; //Data type is declared before using it\n\na = 5;\n\n'

In [2]:
# Python is dynamically typed
a = 5
print(a)

5

In [1]:
a = 'Apple'  # Can use ' ' or " "
print(a)

Apple

In [ ]:
'''
for(int i = 0; i < 10; i++){
cout
        <<i
;
}

for(int i = 0; i < 10; i++)
{
cout<<i;
}
'''

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(10):
print(i)  #Whitespaces matter

IndentationError: expected an indented block (<ipython-input-6-230bd9c6dfc8>, line 2)

In [19]:
# Basics Operations

a = 10; b = 3

print(a + b, end=' ')
print(a - b)
print(a * b)
print(a / b)
print(a // b) # Integer division
print(a % b)  # Remainder
print(a ** b)  #Exponent

13 7
30
3.3333333333333335
3
1
1000

In [8]:
type(1.0)

float

In [16]:
a = 2 ** 1000  #Bignum inbuilt
print(a)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [10]:
type(1)

int

In [2]:
type('Apple')

str

Variable names:
   * It can be only one word.
   * It can use only letters, numbers, and the underscore (_) character.
   * It canâ€™t begin with a number.
   * Variable name starting with an underscore (_) are considered as "unuseful`.

In [20]:
x = 1 + 2.5
a = b = c = 0
y, z, r = 10, 20, 30

In [21]:
print(a, y)

a , y = y, a

print(a, y)

0 10
10 0

In [22]:
x += 3
del x

In [24]:
print(2**100, 20*3, 40)

1267650600228229401496703205376 60 40

In [28]:
name = 'Bob'

age = 30

# if name == 'Bob':
#     print(age)    

if name == 'Alice':
    print('Hi, Alice.')
elif age < 12:
    print('You are not Alice')
else:
    print('You are neither Alice nor a little kid.')

You are neither Alice nor a little kid.

In [29]:
# Single line comment
'''
Multiline
Comment
'''

'\nMultiline\nComment\n'

In [46]:
a = input()
print(a)

10.0
10.0

In [47]:
type(a) # Data type

str

In [48]:
a = float(a)
print(type(a))

<class 'float'>

In [43]:
a = str(a)
print(type(a))

<class 'str'>

In [ ]:
==, !=, =, <=, >=, <, > # Same as C/C++ languages

## Loops

In [50]:
# For loop

for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [3]:
# c = 'Apple'

# for i in c:
#     print(i)

In [51]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [52]:
for i in range(5):
    if i < 3:
        continue
    else:
        print(i)
        break

3

In [67]:
for val in range(6):
    if val == 3:
#         print(val)
        continue
    print(val)

0
1
2
4
5

In [49]:
for i, in range(0, 10, 2): # for(int i=0; i<10; i+=2)
    print(i)

0
2
4
6
8

## Functions

In [58]:
def func_name(arg1, arg2):
    print(arg1,arg2)

In [59]:
func_name(1,'hi')

1 hi

In [60]:
func_name('Hello','hi')

Hello hi

In [61]:
# Variable arguments
def func_name(*arguements):
    for arg in arguements:
        print(arg)

In [62]:
func_name(1,6.0)

1
6.0

In [63]:
func_name(1,2,'hi')

1
2
hi

In [68]:
# keyword arguments
def func_name(**kwargs):
    for key,value in kwargs.items(): #[(a, 1), (b, 6.0)]
        print(key,value)

In [69]:
func_name(a=1,b=6.0)

a 1
b 6.0

In [71]:
# Variable arguments
def func_name(*args,**kwargs):
    for arg in args:
        print(arg)
    for key,value in kwargs.items():
        print(key,value)

In [72]:
func_name('hi','there',a=1,b=6.0)

hi
there
a 1
b 6.0

## Data Structures

In [73]:
# Lists

l1 = [1,'hi',2.0]
print(l1)

[1, 'hi', 2.0]

In [74]:
l2 = list()
l2.append(1)
l2.append('hi')
l2.append(2.0)
print(l2)

[1, 'hi', 2.0]

In [76]:
l2[0]

1

In [77]:
l2[0] = 15
print(l2)

[15, 'hi', 2.0]

In [83]:
l2[:2] # Slicing

[15, 'hi']

In [85]:
l2[-2]

'hi'

In [86]:
len(l2)

3

In [87]:
del l2[1]
print(l2)

[15, 2.0]

In [89]:
l3 = l1+l2
print(l3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 2.0]

In [90]:
l2 * 3

[15, 2.0, 15, 2.0, 15, 2.0]

In [92]:
for i in range(len(l1)):
    print(l1[i], end=' ')

0 1 2 3 4 5 6 7 8 9

In [96]:
# Iterate list
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(i, end=' ')
    
# Iterate list
for i in l1:
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9

In [98]:
for key,value in enumerate(l2):
    print(key,value)

0 15
1 2.0

In [78]:
# list[start:stop:skip]
l1 = range(10)
print(l1)

range(0, 10)

In [79]:
l1 = list(l1)
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
l1[0:6:1]

[0, 1, 2, 3, 4, 5]

In [99]:
# Tuples - similar to lists, but immutable

t1 = (1,2,'hi')

In [100]:
t1[0]

1

In [102]:
t1[0] = 15

TypeError: 'tuple' object does not support item assignment

In [103]:
for i in t1:
    print(i)

1
2
hi

In [104]:
# enumerate
for key,value in enumerate(t1):
    print(key,value)

0 1
1 2
2 hi

In [108]:
for i in enumerate(l2):
    print(type(i))

<class 'tuple'>
<class 'tuple'>

In [125]:
print(list(enumerate(l2)))

[(0, 15), (1, 2.0)]

In [110]:
# Dictionaries

d1 = {
    'apple': 'a red fruit',
    'b': 2
}

In [111]:
d1

{'apple': 'a red fruit', 'b': 2}

In [113]:
d1['b']

2

In [114]:
d1['apple'] = 3
print(d1)

{'apple': 3, 'b': 2}

In [116]:
d3 = dict()
d3['a'] = 1
d3['b'] = 2
print(d3)

{'a': 1, 'b': 2}

In [118]:
d3.keys()

dict_keys(['a', 'b'])

In [124]:
list(d3.keys())

['a', 'b']

In [121]:
d3.values()

dict_values([1, 2])

In [122]:
list(d3.values())

[1, 2]

In [123]:
d3.items()

dict_items([('a', 1), ('b', 2)])

In [126]:
list(d3.items())

[('a', 1), ('b', 2)]

In [127]:
a, b = (5, 10)
print(a, b)

5 10

In [128]:
# Iterate dictionary
for key,value in d3.items():
    print(key, value)

a 1
b 2

In [130]:
if 'a' in d3:
    print('yes')

yes

In [131]:
len(d3)

2

In [132]:
# List comprehension
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
[x for x in range(10) if x %2 == 0]

[0, 2, 4, 6, 8]

In [136]:
[x ** 2 for x in range(1, 11) if x % 2 == 1]

[1, 9, 25, 49, 81]

In [137]:
def check(x):
    if type(x) is str:
        return x
    else:
        return '-'
a = [1,2,4,'hi',4.5]
res = map(check,a)

In [ ]:
'''
Map - returns a list of the results after applying the given function
to each item of a given iterable (list, tuple etc.)
'''

In [138]:
list(res)

['-', '-', '-', 'hi', '-']

In [ ]:
# Zip - combine iterables

In [139]:
a = [1,2,3]
b = ['Me','You','Someone else']
c = [1.0,2.0,3.0]
res = zip(a, b, c)

In [140]:
list(res)

[(1, 'Me', 1.0), (2, 'You', 2.0), (3, 'Someone else', 3.0)]

In [141]:
for res in zip(a, b, c):
    print(res)

(1, 'Me', 1.0)
(2, 'You', 2.0)
(3, 'Someone else', 3.0)

In [142]:
[x for x in zip(a, b, c)]

[(1, 'Me', 1.0), (2, 'You', 2.0), (3, 'Someone else', 3.0)]

In [143]:
[x for x in zip(a, b, c) if x[0]<3]

[(1, 'Me', 1.0), (2, 'You', 2.0)]

In [144]:
for x, y, z in zip(a, b, c):
    print(x)

1
2
3

## Modules

In [ ]:
# Modules are like libraries in C++. You can access the functions using the module names.

In [145]:
import math

In [146]:
math.cos(0)

1.0

In [147]:
from math import cos
cos(0)

1.0

In [148]:
import math as m
m.cos(0)

1.0

In [ ]:
import math as m
m.cos(0)

In [149]:
# Create own module
import interest
interest.simple_interest(100, 5, 1)

5.0

In [150]:
interest.compound_interest(100, 5, 1)

105.0

In [152]:
from interest import simple_interest as si

In [153]:
si(100,5,1)

5.0